body {
    padding: 0;
    margin: 0;
}

.banawa-container {
    /*max-height: 100vh;*/
    height: 786px;
}

.banawa-home {
    background-image: url(../images/banawa.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 300px 300px;
    height: 100vh;
}

.banawa-order {
    height: 100%;
}

.banawa-categorias,
.banawa-productos {
    padding-top: 33vh;
}

.banawa-overlay.banawa-quantity-container {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 73%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.44); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.banawa-overlay.banawa-sale-type-container {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.44); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    max-width: 100%;
}

.banawa-sale-type {
    background-color: #FFF;
    width: 450px;
    height: 200px;
    display: block;
    margin: 0 auto;
    padding: 25px;
}

.banawa-sale-type input{
    display: none;
}

.banawa-backwards {
    display: none;
}

.banawa-background-img a {
    text-align: center;
}

.banawa-background-img a img{
    width: auto;
    height: 100%;
    max-height: 200px;
    display: block;
    margin: 0 auto;
}

.banawa-order-list {
    overflow: auto;
    height: 87%;
}

.banawa-order-item {
    height: 150px;
    width: 100%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 2%;
}

.banawa-index-card.banawa-background-img a {
    width: 74%;
    text-align: center;
    float: left;
}

.banawa-index-card.banawa-background-img .banawa-list-buttons {
    height: 100%;
    width: 25%;
    text-align: center;
    float: left;
}

.banawa-index-card.banawa-background-img a img {
    width: 100%;
    height: 100%;
    max-height: 113px;
    max-width: 168px;
    display: block;
    margin: 0 auto;
}

.banawa-list-buttons .banawa-cancel-button,
.banawa-list-buttons .banawa-price-button,
.banawa-list-buttons .banawa-quantity-button
{
    height: 33%;
    width: 100%;
    float: left;
    line-height: 50px;
    font-size: 18px;
}

.banawa-list-buttons .banawa-cancel-button {
    cursor: pointer;
}

.banawa-order .banawa-price-all-button {
    height: 97px;
    width: 26%;
    float: left;
    line-height: 88px;
    font-size: 19px;
    background: #3DC672;
    text-align: center;
}

.banawa-complete-sale {
    float: left;
    width: 74%;
}

.banawa-list-buttons .banawa-price-button {
    background: #3DC672;
}

.banawa-list-buttons .banawa-quantity-button {
    background: #23A6EC;
    font-size: 22px;
    cursor: pointer;
}

button {
    background: #23A6EC;
}

.categoria {
    padding-bottom: 50px;
}

.banawa-title{
    text-transform: uppercase;
}

.banawa-options-input .banawa-close-button:hover {
    background-color: #ad2e25;
}

.banawa-list-buttons .banawa-cancel-button:hover {
    background-color: #f44336;
}

.banawa-list-buttons .banawa-quantity-button:hover {
    background-color: #007095;
}

.banawa-option-input .banawa-option-price,
.banawa-option-input div {
    color: white;
    font-size: 21px;
    font-weight: bold; 
}

.banawa-info {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px !important;
}

.banawa-options-input .banawa-close-button {
    background-color: #f44336;
    color: white;
    float: left;
}

.banawa-producto {
    padding-bottom: 30px;
}

.banawa-option-input,
.banawa-quantity-input {
    background-color: #e9882a;
    padding: 10px;
}

.banawa-option-input .banawa-option{
    background-color: rgb(35, 166, 236);
}

.banawa-option-input .banawa-option-price {
    float:right;
}

.banawa-option-input input {
    float:left;
    margin-top: 10px;
    margin-right: 14px;
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); 
}

.banawa-quantity-input input {
    margin-bottom: 0px;
    margin-top: 7px;
}